* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: monospace;
}

:root {
  --bg-color: #32322d;
  --sec-bg-color: #292e2c;
  --text-color: #e6f7f7;
  --main-color: #b555f5;
}

html {
  font-size: 80%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
}
.navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 6rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.current {
  color: var(--main-color);
}

#menu {
  font-size: 3rem;
  color: var(--text-color);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_img {
  width: 30rem;
}

.home_content h3 {
  font-size: 4rem;
  font-weight: bold;
}

.home_content h1 {
  font-size: 5rem;
  font-weight: bold;
}

.home_content :nth-child(2) {
    color: var(--main-color);
}
 
.home_content p {
    margin-top: 2rem;
}


.home_content p {
  font-size: 2rem;
}

.social_media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 2rem 1rem 2rem 0rem;
  transition: 1s ease;
}


.social_media a:hover {
  background-color: var(--main-color);
  color: var(--sec-bg-color);
  box-shadow: 0px 1px 15px 1px var(--main-color);
  
}

.btn {
  display: inline-block;
  font-size: 2rem;
  border: 1px solid var(--main-color);
  border-radius: 2rem;
  background-color: var(--main-color);
  margin: 1rem;
  padding: 1rem;
  margin-left:3rem;
  font-weight:600; 
  box-shadow: 0px 1px 15px 1px var(--main-color);
  transition: 1s ease;
}

.btn:hover {
  box-shadow: none;
}

.about{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: var(--sec-bg-color);
}

.about_img img{
  width: 30rem;
}


